.navbar-brand {
    font-size: 30px !important;
    font-weight: bold;
    color: #1e3706 !important;
    transition: color 0.3s ease-in-out;
}

@media (max-width: 270px) {
    .navbar-brand {
        font-size: 20px !important;
    }
}

.navbar-brand:hover {
    color: #144d04 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 20px;
    color: #1e3706;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    font-weight: 600;
    background-color: rgba(30, 55, 6, 0.1);
    border-radius: 5px;
}

@media (max-width: 991px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        width: 100%;
        padding: 10px 0;
    }
}
